<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>测试等待</title>
        <script language="JavaScript" src="/style/js/jquery.min.js"></script>
        <style type="text/css">
            #show_box{
                font-size: 36px;
            }
            .main{
                margin:140px auto;
                text-align: center;
            }
            .main h1{
                margin:60px auto;
            }
            .main div, textarea{
                font-size: 24px;
            }
            .main span{
                vertical-align:top;
            }
            .main input[type=submit]{
                margin: 30px auto;
                font-size: 24px;
                padding:12px;
            }

        </style>
    </head>
    <body>
        <div id="show_box">
            <span>身份证：</span><span>$!{examinee.identity}</span><br/>
            <span>姓名：</span><span>$!{examinee.name}</span>
        </div>
        <div class="main">
            <h1>请选择输入法在录入框中测试录入，如发现问题请举手示意</h1>
            <div>
                <textarea rows="10" cols="50"  placeholder="测试录入"></textarea>
            </div>
            <div>
                <form action="/test/choose" method="get">
                    <input type="submit" value="进入考试">
                </form>
                <span>请等待监考老师提示后点击，请勿提前点击</span>
            </div>

        </div>

    </body>
</html>