<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="zh">
<head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/style/css/lib/bootstrap-3.0.3/css/bootstrap.min.css"/>
    <script src="/style/js/build/lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="/style/css/lib/bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/css/src/site/bops/bops.css"/>
    <script src="/style/js/build/app/bootbox/bootbox-4.2.0.js"></script>
    <script src="/style/js/build/app/notify/notify.js"></script>
    <script src="/style/js/build/app/uploader/fileuploader.js"></script>
    <title>删除操作</title>
</head>
<body>
    #parse("bops/navbar.vm")
<h2>清空所有考生数据</h2>
<form id="delForm"  method="POST" action="/bops/bopsUser/delete" style="margin:10px 0">
    <input class="btn btn-danger" type="submit" value="单击此处清空所有考生数据">
</form>
</body>
<script>
    $(function(){
        $('#delForm').submit(function(){
            $form = $('#delForm');
            $('#delForm').attr('disabled',"true");
            jQuery.post($form.attr('action'), $form.serialize(), function(res){
                if (res.success){
                    $('#saveBtn').notify("清空成功", "success",3600);
                    setTimeout(function(){
                        window.location.href = "/bops/index";
                    },800);
                }else{
                    $('#saveBtn').notify(res.message, "error",3600);
                }
                $('#delForm').removeAttr("disabled");
            });
            return false;
        });
    })

</script>
</html>