<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" href="/style/css/lib/bootstrap-3.0.3/css/bootstrap.min.css"/>
    <script src="/style/js/build/lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="/style/css/lib/bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/css/src/site/bops/bops.css}"/>
    <script src="/style/js/build/app/bootbox/bootbox-4.2.0.js"></script>
    <script src="/style/js/build/app/notify/notify.js"></script>
    <script src="/style/js/build/app/uploader/fileuploader.js"></script>
    <title>添加管理员</title>
</head>
<body>
<style>
    .form-group{margin-bottom: 5px;}
</style>
<div class="panel panel-default">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BOPS</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">管理员<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/bops/bopsUser/add">添加管理员</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">考生信息<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/bops/bopsUser/importoutput">导入导出考生信息</a>
                        </li>

                        <li class="divider"></li>
                    </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-right: 15px;">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">$!{user.name}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/bops/login/login">退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-heading">
        #if ($user) 编辑管理员 #else 添加管理员 #end
    </div>
    <div class="panel-body">
        <form id="saveForm" class="form-horizontal" role="form" action="/bops/bopsUser/save">
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">账号</label>
                <div class="col-sm-5">
                    <input type="hidden" name="newUser.id" value="$!{user.id}"/>
                    <input type="text" class="form-control input-sm" id="name"  name="account" placeholder="账号"  required/>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control input-sm" id="name" name="name" placeholder="姓名"  required/>
                </div>
            </div>
            <div class="form-group">
                <label for="norm" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control input-sm" name="password" placeholder="密码" data-toggle="tooltip" required/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button id="saveBtn" type="submit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>