<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>选择考题</title>
        <script language="JavaScript" src="/style/js/jquery.min.js"></script>
        <style type="text/css">
            #currentTime{
                font-size: 36px;
            }
            .main{
                margin:140px auto;
                text-align: center;
            }
            .main h1{
                margin:60px auto;
            }
            .main input, select{
                font-size: 24px;
                margin:30px;
                padding:10px;
            }

            .main select{
                width:300px;
            }


        </style>
    </head>
    <body>
        <div id="currentTime"></div>
        <div class="main">
            <h1>请选择本场考试的题号</h1>
            <form action="/test/doChoose" method="post">
                <select name="quesNum">
                    <option value ="1">1</option>
                    <option value ="2">2</option>
                </select>
                <input type="submit" id="submit_button" value="进入考试">
            </form>
        </div>

        <script language="javascript">
        $(function(){
            setInterval(function(){
                $("#currentTime").text(new Date().toLocaleString());
            },1000);
        });
        </script>
    </body>
</html>