<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>考试进行中</title>
    <script language="JavaScript" src="/style/js/jquery.min.js"></script>
    <style type="text/css">
        #currentTime{
            font-size: 36px;
        }
        .main{
            margin:120px auto;
            text-align: center;
        }
        .main h2{
            margin:30px auto;
        }
        .main span{
            font-size: 36px;
        }
        .main textarea{
            font-size: 24px;
        }

        #timer_container{
            margin:60px auto;
        }
        #submit_button{
            margin:60px auto;
            font-size: 36px;
            width:180px;
            length:30px;
        }



    </style>
</head>
<body>
<div class="main">
    <div id="timer_container">
        <h2>距离考试结束还有</h2><span id="restMin"></span><span>分：</span><span id="restSec"></span><span>秒</span>
    </div>
    <textarea id="answer" name="answer" rows="16" cols="120">$!{answer}</textarea><br/>
    <input type="submit" id="submit_button" value="提交" disabled="disabled">
</div>

<script language="javascript">
    $(function(){

        var sec=$!{restSec};

        function countDown(){
            sec--;
            if(sec<0){
                return;
            }
            $("#restMin").text(parseInt(sec/60));
            $("#restSec").text(sec-parseInt(sec/60)*60);
        }

        setInterval(countDown,1000);

        setTimeout(function () {
            $("#submit_button").removeAttr("disabled");
        },60*3*1000-sec)

        setTimeout(function () {
            $('#submit_button').click();
        },sec*1000)

        $('#submit_button').click(function(event){

            event.preventDefault();
            $("#submit_button").attr("disabled",true);

            setTimeout(submit,1000*parseInt(Math.random()*5))

            var rest = 5;

            setInterval(function () {
                rest--;
                if(rest<0)rest = 0;
                $("#submit_button").val(rest+"秒后提交")
            },1000)

            function submit() {
                $.ajax({
                    url:"/test/submitAnswer",
                    type: "POST",
                    data: {answer:$("#answer").val()},
                    dataType: "json",
                    success: function(data){
                        console.log(data)
                        if(!data.fail){
                            location.href = data.message;
                        }
                        else{
                            alert(data.message)
                        }
                    },
                    error:function () {
                        alert("网络连接异常");
                    }
                });
            }


        });

    });
</script>
</body>
</html>