<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <!--[if lt IE 9]>
    <link href="/css/bootstrap-ie8.css" rel="stylesheet">
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/style/css/lib/bootstrap-3.0.3/css/bootstrap.min.css"/>
    <script src="/style/js/build/lib/jquery/jquery-1.7.min.js"></script>
    <script src="/style/css/lib/bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/css/src/site/bops/bops.css"/>
    <script src="/style/js/build/app/bootbox/bootbox-4.2.0.js"></script>
    <script src="/style/js/build/app/notify/notify.js"></script>
    <title>导入导出考生信息</title>
</head>
    #parse("navbar.vm")
<h2>导入考生信息</h2>
    <form method="POST" action="/bops/bopsUser/excelUpload" enctype="multipart/form-data">
          上传文件:  <input  class="projectfile" type="file" name="file" style="margin:10px 0">
         <input class="btn btn-primary" type="submit" value="单击此处上传Excel">
    </form>
    <h2>导出初试考生成绩</h2>
    <form method="POST" action="/bops/bopsUser/outputExamineeA" style="margin:10px 0">
         下载A:
       <input class="btn btn-primary" type="submit" value="单击此处下载初试Excel">
    </form>

    <h2>导出复试试考生成绩</h2>
    <form method="POST" action="/bops/bopsUser/outputExamineeB" style="margin:10px 0">
        下载B:
         <input class="btn btn-primary" type="submit" value="单击此处下载复试Excel">
    </form>

    <h2>下载全部考生答题内容</h2>
    <form method="POST" action="/bops/bopsUser/downloadcontent" style="margin:10px 0">
        下载考生考试内容
        <input class="btn btn-primary" type="submit" value="单击此处下载全部考生答题内容">
    </form>
</body>
</html>