<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">

        <title>江苏省检察机关2017年公开招聘书记员速录考试系统登录</title>

        <link rel='stylesheet' href='/style/css/jquery-ui.min.css'>

        <link rel="stylesheet" href="/style/css/src/site/examination/login.css" media="screen" type="text/css" />
        <script language="JavaScript" src="/style/js/jquery.min.js"></script>
    </head>

    <body>

    <div class="login-card">
        <h1>江苏省检察机关2017年公开招聘书记员速录考试系统登录</h1><br>
        <form method="post" action="/test/doLogin">
            <input type="text" name="username" id="id" placeholder="姓名">
            <input type="text" name="id" id="username" placeholder="身份证号码">
            <input type="submit" id="submit_button" class="login login-submit" value="登录">
        </form>
    </div>

    <script src='http://codepen.io/assets/libs/fullpage/jquery_and_jqueryui.js'></script>
    <script type="text/javascript">
        $(function(){

            $('#submit_button').click(function(event){
                event.preventDefault();
                $.ajax({
                    url:"/test/doLogin",
                    type: "POST",
                    data: {username:$("#username").val(), id:$("#id").val()},
                    dataType: "json",
                    success: function(data){
                        if(!data.fail){
                            location.href = data.message;
                        }
                        else{
                            alert(data.message)
                        }
                    },
                    error:function () {
                        alert("网络连接异常");
                    }
                });

            });
        });
    </script>
</body>

</html>