<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>请不要重复提交</title>
    <script language="JavaScript" src="/style/js/jquery.min.js"></script>
    <style type="text/css">
        .main{
            margin:120px auto;
            text-align: center;
        }

    </style>
</head>
    <body>
        <div class="main">
            <h1>请不要重复提交</h1>
        </div>
    </body>
</html>